<form action="/addnewproduct" method="post" class="form" enctype="multipart/form-data">
    <p>Tên SP <input type="text" name="productName"></p>
    <p>Hình SP <input type="file" name="productImage"></p>
    <p><input type="submit" value="Thêm sản phẩm"></p>
</form>